@charset "UTF-8";

.bg {
  background:url("../assets/bg.png")  ;
  background-size:cover;
}

/* 连续色系 */
.hyld-bg-1 {
  --bs-bg-opacity: 1;
  background-color:#ff0000;
}
.hyld-bg-2 {
  --bs-bg-opacity: 1;
  background-color:#ff5555;
}
.hyld-bg-3 {
  --bs-bg-opacity: 1;
  background-color:#fc5000;
}
.hyld-bg-4 {
  --bs-bg-opacity: 1;
  background-color:#fc8953;
}
.hyld-bg-5 {
  --bs-bg-opacity: 1;
  background-color:#ffe600;
}
.hyld-bg-6 {
  --bs-bg-opacity: 1;
  background-color:#fffa70;
}
.hyld-bg-7 {
  --bs-bg-opacity: 1;
  background-color:#73ff00;
}
.hyld-bg-8 {
  --bs-bg-opacity: 1;
  background-color:#b8ff7e;
}
.hyld-bg-9 {
  --bs-bg-opacity: 1;
  background-color:#00ff2a;
}
.hyld-bg-10 {
  --bs-bg-opacity: 1;
  background-color:#61ff7b;
}
.hyld-bg-11 {
  --bs-bg-opacity: 1;
  background-color:#00ffb7;
}
.hyld-bg-12 {
  --bs-bg-opacity: 1;
  background-color:#72ffd7;
}
.hyld-bg-13 {
  --bs-bg-opacity: 1;
  background-color:#00fcfc;
}
.hyld-bg-14 {
  --bs-bg-opacity: 1;
  background-color:#86ffff;
}
.hyld-bg-15 {
  --bs-bg-opacity: 1;
  background-color:#00bbff;
}
.hyld-bg-16 {
  --bs-bg-opacity: 1;
  background-color:#7adcff;
}
.hyld-bg-17 {
  --bs-bg-opacity: 1;
  background-color:#007bff;
}
.hyld-bg-18 {
  --bs-bg-opacity: 1;
  background-color:#5dabff;
}
.hyld-bg-19 {
  --bs-bg-opacity: 1;
  background-color:#2f00ff;
}
.hyld-bg-20 {
  --bs-bg-opacity: 1;
  background-color:#7b5efb;
}
.hyld-bg-21 {
  --bs-bg-opacity: 1;
  background-color:#b381ff;
}
.hyld-bg-22 {
  --bs-bg-opacity: 1;
  background-color:#d000ff;
}
.hyld-bg-23 {
  --bs-bg-opacity: 1;
  background-color:#e46aff;
}
.hyld-bg-24 {
  --bs-bg-opacity: 1;
  background-color:#fe3a9c;
}
.hyld-bg-25 {
  --bs-bg-opacity: 1;
  background-color:#fc8088;
}
.hyld-bg-26 {
  --bs-bg-opacity: 1;
  background-color:#ae85d4;
}
.hyld-bg-27 {
  --bs-bg-opacity: 1;
  background-color:#5c7b9c;
}
.hyld-bg-28 {
  --bs-bg-opacity: 1;
  background-color:#65588a;
}
.hyld-bg-29 {
  --bs-bg-opacity: 1;
  background-color:#4d38aa;
}
.hyld-bg-30 {
  --bs-bg-opacity: 1;
  background-color:#ff9b9b;
}
.hyld-bg-31 {
  --bs-bg-opacity: 1;
  background-color:#aeaeae;
}
.hyld-bg-32 {
  --bs-bg-opacity: 1;
  background-color:#cccccc;
}
.hyld-bg-33 {
  --bs-bg-opacity: 1;
  background-color:#dad4f6;
}
.hyld-bg-34 {
  --bs-bg-opacity: 1;
  background-color:#e6f6d4;
}